
<table class="table">

    <thead>
        <tr>
            <th>
                ID
            </th>
             <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>1</td>
           <td>A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
        </tr>
    </tbody>
</table>