    @{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>Angular QuickStart</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    
</head>
<body>
    <!-- ng4 Setting -->
    <script>
            System.import('./clientapp/main.js').catch(function (err) { console.error(err); });
    </script>
    <br />
    <!-- ng4 Setting -->
    <my-app>Loading App ...</my-app>
    
</body>
</html>
